/* Global Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Container */
.container {
    padding: 10px;
    background-color: #ccc;
    /* height: 1500px; */
}
 /* Items Inside the Container */
.item {
    background-color: #f1425d;
    padding: 30px;
    margin: 30px;
    color: #fff;
    font-size: 40px;
}